[Unit]
Description=Birds Startup Script
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=pi
Group=pi
WorkingDirectory=/home/pi/station3
# this is being set in startup1stage.sh and monitored in startup2stage.sh:
# Environment="PYTHONPATH=/home/pi/station3"

# Keep subprocesses alive after main script ends
KillMode=none
# Delay start slightly to ensure network is ready
# ExecStartPre=/usr/bin/sleep 5

# run startup script, old: Activate birdvenv and fail if venv missing
ExecStart=/home/pi/station3/startup.sh

# Logs
StandardOutput=append:/home/pi/station3/logs/startup.service.log
StandardError=append:/home/pi/station3/logs/startup.service.log

# Don't try to track this long-running tree
Restart=no
# No need to wait long for "start"
TimeoutStartSec=15

[Install]
WantedBy=multi-user.target
