[Unit]
Description=Bird Station Monitoring and Control
# Wait until the network is technically "up"
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
# Run as the 'pi' user so it has access to /home/pi/
User=pi
Group=pi
WorkingDirectory=/home/pi/station3
# The scripts to execute at boot and every 15 min:
ExecStart=/usr/bin/bash /home/pi/station3/start15m.sh
# no >> redirection, no comment on same line, see 'systemd-analyze verify /etc/systemd/system/yourservice.service'
# compare inactive to active logging:
StandardOutput=null
StandardError=append:/home/pi/station3/logs/15mservice.log

[Install]
WantedBy=multi-user.target