body {
  width: 90vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: grey;
  font-family: sans-serif;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-input {
  padding: 8px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.dropdown-input:focus {
  outline: none;
}

.dropdown-list {
  background: white;
  position: absolute;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 4px 4px;
  display: none; /* Hidden by default */
  box-sizing: border-box;
  z-index: 10;
}

.dropdown-item {
  padding: 8px;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #f0f0f0;
}

.dropdown-input.input-error {
  border: 2px solid #ff4d4d;
  background-color: #fff2f2;
}